
.grid-container-agenda-botones {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto ;
    background-color: #FFF;
    padding: 2px;
  }
  .grid-item-agenda {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    font-size: 16px;
    text-align: center;
    font-weight:bold;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    background-color: #2196F3;
    padding: 2px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    font-size: 14px;
    text-align: center;
  }
  
  img{
      height:50px;
  }